## Exported functions:
export(
       lsplsCv,
       lspls,
       orthlsplsCv,
       orthlspls.fit
       )

## Imports:
## FIXME: npls -> pls
importFrom(npls, MSEP, RMSEP, scoreplot, loadingplot) # FIXME: more?
importFrom(graphics, plot)
importFrom(stats, predict)

## S3 methods:
S3method(MSEP, lsplsCv)
S3method(RMSEP, lsplsCv)
S3method(plot, lspls)
S3method(plot, lsplsCv)
S3method(scoreplot, lspls)
S3method(loadingplot, lspls)
S3method(predict, lspls)

## Documented but not exported:
## orth
## project
## Corth
